spring:
  application:
    name: pharma

  web:
    resources:
      static-locations: classpath:/static/
      add-mappings: true

  datasource:
    url: jdbc:mysql://localhost:3308/medicine?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
    open-in-view: false
    defer-datasource-initialization: true

  sql:
    init:
      mode: never
      schema-locations: classpath:index.sql
      data-locations: classpath:data.sql
      continue-on-error: true
      separator: ";"
      encoding: UTF-8

  h2:
    console:
      enabled: false

gg:
  jte:
    development-mode: true
    use-spring-web: true
    template-location: src/main/jte

server:
  port: 8080




